__pycache__/
/output.sas
/sas_plan
/sas_plan.*
/builds/
/experiments/*/.venv/
/experiments/*/data/
/misc/.tox/
/misc/autodoc/downward-xmlrpc.secret
*.out
*.sas
callgrind*
.devenv.flake.nix
.devenv
.direnv
.cache
.clangd
compile_commands.json
src/CMakeCache.txt
src/CMakeFiles
src/Makefile
src/cmake_install.cmake
src/preprocess_h2/CMakeFiles
src/preprocess_h2/Makefile
src/preprocess_h2/cmake_install.cmake
src/search/CMakeFiles
src/search/Makefile
src/search/cmake_install.cmake
